@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

* {
	color: #fff;
}
body {
	background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
	margin: 0;
}
	
.content-box {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}
header {
	background-color: rgba(22, 21, 21, 0.6);
}
.nav-menu {
	
}
.nav-menu__list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0;
	padding: 18px 0;
}
.nav-menu__item {
	list-style-type: none;
}
.nav-menu__link {
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
	font-style: normal;
	font-weight: 300;
}
.header-content-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
	padding: 50px 0 0 0;
}
.main-content {
	max-width: 100%;
	height: 400px;
	flex: 0 1 68%;
}
.main-content__title {
	font-family: 'Comfortaa', cursive;
	font-style: normal;
	font-weight: 700;
	font-size: 72px;
	margin: 0;
}
.hello {
	font-size: 48px;
}
.main-content__text {
	margin: 0;
	font-family: 'Comfortaa', cursive;
	font-style: normal;
	font-weight: 300;
	padding: 20px 75px 10px 0;
	opacity: 0.6;
}
.main-content__btn {
	font-family: 'Comfortaa', cursive;
	font-style: normal;
	font-weight: 700;
	width: 170px;
	height: 44px;
	background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
	box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
	border-radius: 6px;
	color: #000;
	cursor: pointer;
	transition: background 2s ease 2s;
	position: relative;
	overflow: hidden;
}
.main-content__btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgba(255,255,255,0.3);
	transition: all 0.5s ease;
}
.main-content__btn:hover::before {
	width: 166px;
	left: 100%;
}
.header-content__img {
	background-image: url('./img/I`m.png');
	background-size: 500px 500px;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	width: 100%;
	height: 480px;
	z-index: 2;
}
.img-head {
}

.circle {
	position: absolute;
	top: 50px;
	left: 35%;
	transform: translateX(50%);
	width: 400px;
	height: 400px;
	border: 40px solid #00C4F0;	
	border-radius: 50%;
	box-shadow: 0px 0px 20px #fff;
	animation: box-shadow 1.5s linear infinite;
}
.circle-btn {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: #00C4F0;
	font-family: 'Rubik Spray Paint', cursive;
	transition: width 0.5s ease, height 0.5s ease;
	cursor: pointer;
	overflow: hidden;
	z-index: 666;
	box-shadow: 0 0 20px #000;
}
.circle-btn a {
	text-decoration: none;
	color: #00C4F0;
}
.circle-btn:hover {
	width: 100px;
	height: 100px;
}
.circle-btn_pos1 {
	right: 150px;
	top: 40px;
}
.circle-btn_pos1::before {
	content: 'Discord';
	position: absolute;
	top: 0;
	left: -188%;
	font-size: 20px;
	background:linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.circle-btn_pos1:hover::before {
	left: 0%;
	transform: translateX(50%);
	top: 50%;
	transform: translateY(-50%);
}
.circle-btn_pos2 {
	right: 338px;
	top: 34px;
}
.circle-btn_pos2::before {
	content: 'Code';
	position: absolute;
	top: 0;
	left: -170%;
	font-size: 24px;
	background:linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.circle-btn_pos2:hover::before {
	left: 0%;
	transform: translateX(50%);
	top: 50%;
	transform: translateY(-50%);
}
.circle-btn_pos3 {
	left: 649px;
  top: 136px;
}
.circle-btn_pos3::before {
	content: 'Projects';
	position: absolute;
	top: 0;
	left: -170%;
	font-size: 18px;
	background:linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.circle-btn_pos3:hover::before {
	left: 0%;
	transform: translateX(-50%);
	top: 50%;
	transform: translateY(-50%);
}


.circle-btn_pos4 {
	right: 500px;
	top: 302px;
}
.circle-btn_pos4::before {
	content: 'Telegram';
	position: absolute;
	top: 10px;
	left: -170%;
	font-size: 18px;
	background:linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.circle-btn_pos4:hover::before {
	left: 0%;
	transform: translateX(50%);
	top: 50%;
	transform: translateY(-50%);
}


@keyframes box-shadow {
	from {
		box-shadow: 0px 0px 20px #fff;
	}
	to {
		box-shadow: 0px 0px 0px #fff;
	}
}

/* section Skills */

.skills, .about-me, .project {
	text-align: center;
	margin-bottom: 130px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section-title {
	font-family: 'Comfortaa', cursive;
	font-size: 38px;
	display: inline-block;
	border-bottom: 1px solid #00C4F0;
	padding-bottom: 10px;
}

.skills__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	list-style-type: none;
}
.skills__item {
	width: 270px;
	height: 270px;
	background: #2A2A2A;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
	border-radius: 29px;
	color: #E4E4E4;
	font-family: 'Comfortaa', cursive;
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 30px;
	box-sizing: border-box;
	position:	relative;
}
.html-icon::before {
	content: '';
	position: absolute;
	top: 34px;
	background-image: url('https://img1.freepng.ru/20180331/wbe/kisspng-computer-icons-source-code-html-coding-5abfde99e2ced5.477001091522523801929.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 130px;
	height: 130px;
	border-radius: 50%;
}
.css-icon::before {
	content: '';
	position: absolute;
	top: 34px;
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEyz1ikMA4Q4yZ4UpF_aQQIbQoaLk-M8juAA&usqp=CAU');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 130px;
	height: 130px;
	border-radius: 50%;
}
.js-icon::before {
	content: '';
	position: absolute;
	top: 34px;
	background-image: url('https://icon-library.com/images/javascript-icon/javascript-icon-17.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 130px;
	height: 130px;
	border-radius: 50%;
}
.react-icon::before {
	content: '';
	position: absolute;
	top: 34px;
	background-image: url('https://cdn-icons-png.flaticon.com/512/1230/1230432.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 130px;
	height: 130px;
	border-radius: 50%;
}
.git-icon::before {
	content: '';
	position: absolute;
	top: 34px;
	background-image: url('https://cdn-icons-png.flaticon.com/512/4494/4494740.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 130px;
	height: 130px;
	border-radius: 50%;
}
.bam-icon::before {
	content: 'БЭМ';
	position: absolute;
	top: 34px;
	background-color: #d81414;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	font-family: 'Comfortaa', cursive;
	font-style: normal;
	font-weight:bold;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.figma-icon::before {
	content: '';
	position: absolute;
	top: 38px;
	background-image: url('https://nuts-agency.ru/upload/iblock/b40/b4092215adb9056678cd122508f02999.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

/* Section about-me */

.about-me {
	position: relative;
}
.circle-about-section-big {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 97px;
	width: 350px;
	height: 350px;
	border: 42px solid #E4E4E4;
	border-radius: 50%;
	box-shadow: -30px 30px 110px;
}
.circle-about-section-middle {
	width: 300px;
	height: 300px;
	border: 24px solid #00C4F0;
	border-radius: 50%;
	position: absolute;
	bottom: -68px;
	right: 190px;
	box-shadow: 0 0 140px;
}
.circle-about-section-small {
	width: 250px;
	height: 250px;
	border: 34px solid #E2A200;
	border-radius: 50%;
	position: absolute;
	top: 244px;
	right: 113px;
	box-shadow: inset 0 0 80px;
}
.about-section-content-block {
	width: 490px;
	height: 820px;
	background: #2C2C2C;
	border-radius: 14px;
	z-index: 22;
	box-shadow: inset 0 0 12px grey;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.09em;
	padding: 56px;
	box-sizing: border-box;
	text-align: justify;
	color: #d2cdcd;
}
.about-section-img {
	position: absolute;
	top: 118px;
	right: 92px;
	width: 250px;
	border-radius: 0 37% 37% 0;
	height: 250px;
	z-index: 21;
	filter: drop-shadow(48px -4px 20px rgba(0,0,0,0.3));
}

/* Section code */

.code {
	text-align: center;
	background-color: rgba(22, 21, 21, 0.6);
	padding: 50px 0;
}
.code-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 25px;

}
.code__item {
	width: 446px;
	height: 326px;
	background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
	border-radius: 14px;
	padding: 15px;
	box-sizing: border-box;
	box-shadow: 0 0 20px #000;
}
.codewars-code {
	text-align: left;
	color: #00C4F0;
	display: flex;
}



/* section prohect */

.project-box {
	background-color: rgba(22, 21, 21, 0.6);
	width: 970px;
	height: 530px;
	margin: 0 auto;
	border-radius: 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 56px 0 0;
	box-sizing: border-box;
	position: relative;
}
.project-img {
	flex: 0 0 60%;
	border-radius: 24px;
}
.project-img__item {
	max-width: 400px;
	border-radius: 24px;
}
.project-desc {
	padding: 0 80px;
	font-family: 'Comfortaa', cursive;
}
.project-desc__item {
	font-size: 14px;
}
.project-box::after {
	content: '';
	background-image: url('./iconnext.png');
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	position: absolute;
	left: -80px;
	transform: rotate(180deg);
}
.project-box::before {
	content: '';
	background-image: url('./iconnext.png');
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	position: absolute;
	right: -80px;
}